<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XLVideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD4ABC4C1CA2AD62003BD910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4ABC651CA2AD62003BD910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4ABC701CA2AD62003BD910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
